@import "../variables";

.choose {
  @include flex-center;
  position: relative;
  margin: 0 auto 5rem auto;
  max-width: 45rem;
  min-width: 25rem;
  width: 50vw;
  aspect-ratio: 1;

  & > img {
    width: 70%;
  }

  & .icon {
    @include flex-center;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    position: absolute;
    height: 21vw;
    padding: 1px;
    min-height: 10rem;
    max-height: 18rem;
    //transform: translateY(-50%);
    border-radius: 50%;

    &:hover {
      box-shadow: 0 0 0 1.5em rgba(255, 255, 255, 0.05);
    }
  }

  & .top-left {
    top: 0;
    left: 0;
  }

  & .top-right {
    top: 0;
    right: 0;
  }

  & .bottom {
    bottom: 0;
    translate: 0 -30%;
  }
}
