@import "../variables";

.play-area {
  @include flex-center;
  position: relative;
  margin: 5rem auto;
  max-width: 45rem;
  min-width: 25rem;
  width: 50vw;
  aspect-ratio: 1;
  //background-image: url("../assets/images/bg-triangle.svg");
  //background-position: center;
  //background-size: 70%;
  //background-repeat: no-repeat;

  & > img {
    width: 70%;
  }

  & .icon {
    @include flex-center;
    position: absolute;
    height: 18vw;
    min-height: 10rem;
    max-height: 18rem;
    aspect-ratio: 1;
    //transform: translateY(-50%);
  }

  & .top-left {
    top: 0;
    left: 0;
  }

  & .top-right {
    top: 0;
    right: 0;
  }

  & .bottom {
    bottom: 0;
    translate: 0 -30%;
  }
}

.button-rules {
  @include flex-center;
  justify-content: flex-end;
}
