.button,
.button-alt {
  transition: all 0.3s ease-in-out;
  transition-property: background-color, color;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.8rem;
  padding: 1.2rem 4rem;

  &:hover,
  &-alt {
    cursor: pointer;
    color: black;
    background-color: white;
  }

  &-alt:hover {
    color: red;
  }
}
