@import "../../variables";

$height: 10;

@mixin circle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: #{$height}rem;
  border-radius: 50%;
  aspect-ratio: 1;
}

@mixin adapt-size {
  height: 40vw;
  min-height: 12.9rem;
  max-height: 14.8rem;
}

.bottom-shadow {
  position: absolute;
  //height: #{$height + 2.9}rem;
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1;
  transform: translate(0, 5%);
}

.coin {
  position: relative;
  //height: #{$height + 2.9}rem;
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 0.99;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  z-index: 4;

  &::after {
    content: "";
    @include circle;
    height: 78%;
    transform: translate(-50%, -53%);
    background-color: #babfd4;
    z-index: 1;
  }

  & .circle {
    @include circle;
    height: 78%;
    //border-top: 8px solid #babfd4;
    transform: translate(-50%, -47%);
    background-color: rgba(white, 95%);
    z-index: 2;

    & img {
      position: absolute;
      //height: #{$height / 2}rem;
      height: 65%;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }
  }
}
