@import "../../variables";

.modal {
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-background-white;
  height: 100vh;
  width: 100vw;
  min-height: 46rem;
  z-index: 99;
  transform: translateY(-120%);

  @media (min-width: $screen-medium) {
    height: 40rem;
    width: unset;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -200%);
    aspect-ratio: 0.95;
    border-radius: 0.8rem;
  }

  & > .close {
    position: absolute;
    cursor: pointer;
    background-image: url("../../assets/images/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    width: 8rem;
    aspect-ratio: 1;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    @media (min-width: $screen-medium) {
      left: unset;
      bottom: unset;
      right: 0;
      transform: unset;
    }
  }

  &.enter,
  &.enter-done {
    transform: translateY(0%);

    @media (min-width: $screen-medium) {
      transform: translate(-50%, -50%);
      //box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
    }

    & + .background {
      opacity: 1;
    }
  }
}

.background {
  transition: opacity 0.3s;
  position: fixed;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  z-index: 98;
}
