@import "../../variables";

.results-container {
  .plays-container {
    @include flex-center;
    margin-block: 8rem 10rem;
    justify-content: space-around;
    //gap: 6rem;

    @media (max-width: $screen-small) {
      //gap: 3rem;
      font-size: 1rem;
    }

    & > .you-picked,
    & > .house-picked {
      @include coin-size;
      transition: transform 0.3s ease-in-out;
      position: relative;
      border-radius: 50%;
      aspect-ratio: 1;
      background-color: rgba(0, 0, 0, 0.1);

      &::after {
        position: absolute;
        white-space: nowrap;
        bottom: -4rem;
        left: 50%;
        font-weight: 500;
        font-size: 1.5rem;
        letter-spacing: 0.16rem;
        text-transform: uppercase;
        transform: translateX(-50%);
        color: #eee;

        @media (min-width: $screen-medium) {
          top: -4rem;
        }
      }
    }

    @media (min-width: $screen-medium) {
      & > .you-picked.finished {
        transform: translateX(-50%);
      }

      & > .house-picked.finished {
        transform: translateX(50%);
      }
    }

    & > .you-picked::after {
      content: "You picked";
    }

    & > .house-picked::after {
      content: "The house picked";
    }
  }

  .results {
    @include flex-center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    gap: 1rem;
    flex-direction: column;

    @media (min-width: $screen-medium) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    & > h2 {
      color: $color-background-white;
      text-transform: uppercase;
      font-size: 5.6rem;
    }

    &.finished {
      opacity: 1;

      @media (min-width: $screen-medium) {
        //transform: translate(-50%, -50%);
      }
    }
  }
}
