@import "../../variables";

.rules {
  @include flex-center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 6rem;

  & > &-title {
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 700;
    color: $color-gray;
  }
}
