@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700&display=swap");
@import "src/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 10px;
  min-height: 100vh;
}

body {
  margin-inline: auto;
  position: relative;
  background: $color-background repeat;
  max-width: 120rem;
  padding-bottom: 6rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}
